%head
  %link{:href => "css/503.css", :rel => "stylesheet"}/
%body

.container
  %h3.head Connecting to server
  .component.PC
    .flare
  .component.signals
    .dot.first
    .dot.second
    .dot.third
  .component.server
    .slot
    .slot
    .button
    .button
