figure{
  margin: 0;
}

figure {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: 2s opacity; 
}

img {
  width: 100vw;
}

figure:after {
  transition: 2s background;
  background: transparent;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.loaded figure:after {
  background: rgba(0, 0, 0, 0.5);
}

.loaded figure {
  opacity: 1;
}

/* EXAMPLE */

/*
<figure>
  <img src="https://images.unsplash.com/photo-1432637194732-34cedd856522?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=a135be75b0fa480c18b22b5e557f56b3" alt="">
</figure>
*/
